<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
   						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/security 
                        http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	<http auto-config="true">
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/cliente/**" access="ROLE_USER" />
		<form-login login-page="/publico/login.xhtml"
			always-use-default-target="true" 
			authentication-success-handler-ref="authenticationSuccessHandler"
			authentication-failure-url="/publico/login.xhtml?login_error=1" />
		<logout logout-success-url="/publico/login.xhtml"/> 
		<remember-me /> 
	</http>
	<b:bean id="authenticationSuccessHandler"
		class="br.com.lojavirtual.negocio.MySimpleUrlAuthenticationSuccessHandler"/>
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="BDLojaVirtualDataSource" 
				authorities-by-username-query="SELECT pes_nome, pes_permissao FROM pessoa WHERE pes_email = ?"
				users-by-username-query="SELECT pes_email, pes_senha, '1' FROM pessoa WHERE pes_email = ?" />
		</authentication-provider>
	</authentication-manager>
</b:beans>

